.hero-container {
    margin: 0;
    contain: content;
}

.nav-icon {
    font-size: 40px;
    color: white;
}
.navbar-container{
    width: 100%;
    contain: content;
    margin: 0 10%;
}
.container-half {
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('../img/gif.gif') no-repeat center center;
    background-size: cover;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #1f3d63;
    clip-path: polygon(27% 0, 100% 0, 100% 100%, 0 100%);
}

.center-image {
    position: relative;
    left: 200px;
    z-index: 1;
    width: 640px;
}

.center-image-logo {
    position: relative;
    left: 400px;
    z-index: 1;
    width: 439px;
}

.nav-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.sidebar {
    background: grey;
    display: none;
    position: fixed;
    top: 60px;
    z-index: 1300;
    height: 90vh;
    width: 380px;
    right: 190px;
    border-radius: 20px 0 0 20px;
    background: rgba(255, 255, 255, 0.8);
}

.sidebar.show {
    display: flex;
!important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.overlay.show {
    display: block;
}

.sidebar-button-close {
    background: none;
    border: none;
    color: white;
    width: 50px;
}

.sidebar-button-close:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .center-image {
        width: 50%;
        left: 0px;
    }

    .center-image-logo {
        width: 40%;
        left: 4%;
    }

    .sidebar {
        display: none;
        position: fixed;
        top: 70px;
        z-index: 1300;
        height: 100vh;
        width: 300px;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .center-image {
        width: 50%;
        left: 0px;
    }

    .center-image-logo {
        width: 40%;
        left: 4%;
    }

    .sidebar {
        display: none;
        position: fixed;
        top: 70px;
        z-index: 1300;
        height: 100vh;
        width: 300px;
        right: 0;
    }
}

@media screen and (max-width: 425px) {
    .center-image {
        width: 50%;
        left: 0px;
    }

    .center-image-logo {
        width: 40%;
        left: 4%;
    }

    .sidebar {
        display: none;
        position: fixed;
        top: 70px;
        z-index: 1300;
        height: 100vh;
        width: 300px;
        right: 0;
    }
}